{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="flex-center position-ref full-height">
            <div class="content">
                <div class="title m-b-md">
                    Pay Now
                </div>
                <div class="links">
                    <iframe src={{ iframe_src }} width="100%" height="720px"  scrolling="auto" frameBorder="0">
                        <p>Browser unable to load iFrame</p>
                    </iframe>
                </div>
            </div>
</div>

{% endblock %}